In [11]:
from powerbiclient import QuickVisualize, get_dataset_config, Report
from powerbiclient.authentication import DeviceCodeLoginAuthentication

import pandas as pd

In [12]:
df = pd.read_csv("Financial Sample.csv")

In [13]:
df.head()

,Segment,Country,Product,Discount Band,Units Sold,Manufacturing Price,Sale Price,Gross Sales,Discounts,Sales,COGS,Profit,Date,Month Number,Month Name,Year
0,Government,Canada,Montana,High,200.0,5,350,70000.0,9800.0,60200.0,52000.0,8200.0,5/1/2014,5,May,2014
1,Small Business,Germany,Carretera,Low,214.0,3,300,64200.0,1284.0,62916.0,53500.0,9416.0,10/1/2013,10,October,2013
2,Small Business,Germany,VTT,Low,214.0,250,300,64200.0,1284.0,62916.0,53500.0,9416.0,10/1/2013,10,October,2013
3,Midmarket,Canada,Paseo,Low,218.0,10,15,3270.0,130.8,3139.2,2180.0,959.2,9/1/2014,9,September,2014
4,Government,Germany,Paseo,High,241.0,10,20,4820.0,482.0,4338.0,2410.0,1928.0,10/1/2014,10,October,2014

In [14]:
# Iniciar autenticação do Power BI
device_auth = DeviceCodeLoginAuthentication()

Performing device flow authentication. Please follow the instructions below.
To sign in, use a web browser to open the page https://microsoft.com/devicelogin and enter the code FX2CALJB5 to authenticate.

Device flow authentication successfully completed.
You are now logged in .

The result should be passed only to trusted code in your notebook.

In [15]:
# Vistualizar de dados
PBI_visualize = QuickVisualize(get_dataset_config(df), auth=device_auth)

# Renderizar o novo relatório
PBI_visualize

QuickVisualize()